.show-btn {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: grey;
  /* height: fit-content;
  width: fit-content; */
}

@media (min-width: 800px) {
  .show-btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.clr {
  background-color: #FF8A80 !important;
}

.btn {
  width: 60px;
  height: 40px;
  margin: 12px 10px 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
  background: none;
  border: 0px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

@media (min-width: 800px) {
  .btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.95);
    color: rgba(0, 0, 0, 0.8);
  }



  .btn:active {
    transform: scale(0.9);
  }

  .btn.touched {
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .btn:active {
    transform: scale(0.9);
  }
}